.buttons{
  background-color: #0e0e0e;
  border: none;
  display: grid;
  grid-template-columns: 80%;
  align-items: center;
  padding: 0px 0px 0px 10px;
}

.words{
  padding-left: 10px;
  padding-top: 0px;
}

p:hover{
 cursor: pointer;
}

ul{
  display: flex;
  margin-top: 0px;
  gap: 50px;
}

.videos1{
  display: flex;
  flex-direction: column;
}

.videos{
  display: flex;
  gap: 20px;
  justify-content: center;
}